.tooling{
	position: relative;
	background: url(../images/img06.jpg) no-repeat 50% 0;
	padding: 31px 0;

	@media #{$medium-up} {
		@include rotate(-5deg);
		padding: 82px 0;
	}

	.row{
		@media #{$medium-up} {
			@include rotate(5deg);
		}
	}

	h2{
		text-transform: uppercase;
		color: #2c2c2c;
		font-family: $exo;
		font-weight: 500;
		margin-bottom: 43px;
	}

	.subtitle{
		display: block;
		font:500 17px/24px $exo;
		color:#2c2c2c;
		margin-bottom: 38px;
		text-transform: uppercase;
	}

	p{
		margin-bottom: 59px;
	}

	.btn-wrap{
		padding:0 27px;
		
		@include mq($until:tablet){
			text-align: center !important;
		}
	}
}